<footer class="footer-section blog-footer">
	<div class="row">
		<div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
			<p>&copy; 
				<%= full_date(new Date(), 'YYYY') %> 
				Jed Lippold 
			</p>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
			<a title="github" target="_blank" href="https://github.com/jlippold"> 
				<i class="icon icon-github-circled"></i>
			</a>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
			<a title="linkedin" target="_blank" href="https://www.linkedin.com/in/jedlippold">
          		<i class="icon icon-linkedin"></i>
            </a>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
			<a title="twitter" target="_blank" href="https://twitter.com/treason">
                <i class="icon icon-twitter"></i>
            </a>
		</div>
	</div>
</footer>

<script>
	document.addEventListener("DOMContentLoaded", function(event) { 

		function setActive(item) {
			var items = document.querySelectorAll(item), i;
			for (i = 0; i < items.length; ++i) {
			  items[i].className = "active";
			}
		}
		
 		var path = window.location.pathname;

 		if (path == "/") {
 			return setActive(".navHome");
 		}

 		if (path.indexOf("/apps") == 0) {
 			return setActive(".navApps");
 		}

 		if (path.indexOf("/blog") == 0) {
 			return setActive(".navBlog");
 		}

 		if (path.indexOf("/about") == 0) {
 			return setActive(".navAbout");
 		}

 		return setActive(".navBlog");

	});
</script>

