  <div class="row" style="padding: 20px;">

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="hovereffect">
        <img class="img-responsive" src="/pub/blog/img/dtv.png" alt="">  
        <div class="overlay">
          <a class="info" href="/apps/coco.html">
            <div class="linktext">Coco For DirecTV</div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="hovereffect">
        <img class="img-responsive" src="/pub/blog/img/Home.Automation.png">  
        <div class="overlay">
          <a class="info" href="/apps/Home.Automation.html">
            <div class="linktext">Home Automation</div>
          </a>
        </div>
      </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="hovereffect">
        <img class="img-responsive" src="/pub/blog/img/gesturePad.jpg" alt="">  
        <div class="overlay">
          <a class="info" href="/apps/gesturepad.html">
            <div class="linktext">gesturePad</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding: 20px;">

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="hovereffect">
        <img class="img-responsive" src="/pub/blog/img/wifisms1.png" alt="wifi sms">  
        <div class="overlay">
          <a class="info" href="/apps/wifisms.html">
            <div class="linktext">WifiSMS</div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="hovereffect">
        <img class="img-responsive" src="/pub/blog/img/skd_00003.png" alt="old skedula">  
        <div class="overlay">
          <a class="info" href="/apps/skedula.html">
            <div class="linktext">Skedula</div>
          </a>
        </div>
      </div>
    </div>

  </div>