
<% var tagCount = site.tags.filter(function(tag) { return tag.length; }).length; %>
<div class="blog-sidebar">
    <div class="inner profile-inner">
        <div class="base-info profile-block">
            
            <div class="profile">
            </div>
            <h4 id="name">Jed Lippold</h2>
            <h5 id="title">Father, Developer, Teacher &amp; Entrepreneur</h3>
            <span id="location">
              <i class="fa fa-map-marker"></i>
              Pennsylvania / New York
            </span>
            <a id="follow" target="_blank" href="#"></a>
        </div>
        <div class="article-info profile-block">
            <div class="article-info-block" style="border-right: 1px solid rgba(255, 255, 255, 0.1);">
                <h3><%= site.posts.length %></h3>
                <span>posts</span>
            </div>
            <div class="article-info-block">
                <h3><%= tagCount %></h3>
                <span>tags</span>
            </div>
            <div class="clear clearfix"></div>
        </div>
        <div class="profile-block social-links">
          <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <a href="https://github.com/jlippold" target="_blank" title="github">
                    <i class="icon icon-github-circled"></i>
                </a>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <a href="https://www.linkedin.com/in/jedlippold" target="_blank" title="linkedin">
                    <i class="icon icon-linkedin"></i>
                </a>
              </div>
          </div>
        </div>
    </div>
</div>