

<%- partial('partials/nav') %>
<div class="container" style="padding-top: 70px">
  <div class="row">
    <div class="col-sm-8 blog-main">

		<div class="blog-post">
		  <%- page.content %>
		</div>

    </div>
    <%- partial('partials/sidebar') %>
  </div>
</div>
<br />
<%- partial('partials/footer') %>